
{{!-- Este parcial se utiliza para mostrar mensajes generales, mensajes de error o éxito en la aplicación. --}} 
{{#if message}}
  {{message}}
{{/if}}

{{#if success}}
  {{success}}
{{/if}}

{{#if errors}}
  <ul>
    {{#each errors}}
      <li>{{this.msg}}</li>
    {{/each}}
  </ul>
{{/if}}

