<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Links app</title>
    {{!-- Google fonts --}}
    <link href="https://fonts.googleapis.com/css2?family=Oswald" rel="stylesheet">
    {{!-- CSS --}}  
    <link rel="stylesheet" href="/css/style.css">
    {{!-- Fontawesome --}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    {{!-- Bootstrap --}}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    
</head>
<body>
    
    {{> navigation}}

    {{{body}}}


</body>
</html>