<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card">
                <div class="card-header">
                    <h3 class="text-center">{{activateUser.username}}</h3>
                </div>
                <div class="card-body">
                    <form action="/users/activate/{{activateUser.id}}" method="POST">
                        
                        <!-- Selección de rol con checkboxes -->
                        <div class="form-group p-2">
                            <label for="roles">Roles</label>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="role[]" id="secretaria" value="secretary" 
                                {{#contains roles 'secretary'}}checked{{/contains}}>
                                <label class="form-check-label" for="secretaria">Secretaria</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="role[]" id="administrador" value="admin" 
                                {{#contains roles 'admin'}}checked{{/contains}}>
                                <label class="form-check-label" for="administrador">Administrador</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="role[]" id="empleado" value="employee" 
                                {{#contains roles 'employee'}}checked{{/contains}}>
                                <label class="form-check-label" for="empleado">Empleado</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="role[]" id="trabajadora_social" value="social" 
                                {{#contains roles 'social'}}checked{{/contains}}>
                                <label class="form-check-label" for="trabajadora_social">Trabajadora Social</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="role[]" id="visitante" value="guest" 
                                {{#contains roles 'guest'}}checked{{/contains}}>
                                <label class="form-check-label" for="visitante">Visitante</label>
                            </div>
                        </div>

                        <!-- Selección de estado -->
                        <div class="form-group p-2">
                            <label for="status">Estado</label>
                            <select name="status" id="status" class="form-control">
                                <option value="">Seleccione un estado</option>
                                <option value="activo" {{#if (eq activateUser.status 'activo')}}selected{{/if}}>activo</option>
                                <option value="inactivo" {{#if (eq activateUser.status 'inactivo')}}selected{{/if}}>inactivo</option>
                            </select>
                        </div>

                        <!-- Botón para guardar -->
                         <div class="form-group p-2 block">
                            <div class="d-flex gap-2">
                                <button class="btn btn-success w-100">
                                    Guardar
                                </button>
                                <a href="/users/pending" class="btn btn-warning w-100">
                                    Cancelar
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
