<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card">
                <div class="card-header">
                    <h3 class="text-center">{{activateUser.username}}</h3>
                </div>
                <div class="card-body">
                    <form action="/users/activate/{{activateUser.id}}" method="POST">
                        
                        <!-- Selección de rol -->
                        <div class="form-group p-2">
                            <label for="role">Rol</label>
                            <select name="role" id="role" class="form-control">
                                <option value="">Seleccione un rol</option>
                                <option value="admin" {{#if (eq activateUser.role 'admin')}}selected{{/if}}>admin</option>
                                <option value="usuario" {{#if (eq activateUser.role 'usuario')}}selected{{/if}}>usuario</option>
                                <option value="invitado" {{#if (eq activateUser.role 'invitado')}}selected{{/if}}>invitado</option>
                            </select>
                        </div>

                        <!-- Selección de estado -->
                        <div class="form-group p-2">
                            <label for="status">Estado</label>
                            <select name="status" id="status" class="form-control">
                                <option value="">Seleccione un estado</option>
                                <option value="activo" {{#if (eq activateUser.status 'activo')}}selected{{/if}}>activo</option>
                                <option value="inactivo" {{#if (eq activateUser.status 'inactivo')}}selected{{/if}}>inactivo</option>
                            </select>
                        </div>

                        <!-- Botón para guardar -->
                         <div class="form-group p-2 block">
                            <div class="d-flex gap-2">
                                <button class="btn btn-success w-100">
                                    Guardar
                                </button>
                                <a href="/users/pending" class="btn btn-warning w-100">
                                    Cancelar
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
