<div class="container p-4"></div>
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-header">
                    <h3>Editar</h3>
                </div>
                <div class="card-body">
                    <form action="/users/edit/{{user.id}}" method="POST">
                        <div class="form-group p-2">
                            <input type="text" value="{{user.fullname}}" name="fullname" class="form-control" placeholder="Nombre completo" required autofocus>                            
                        </div>
                        <div class="form-group p-2">
                            <input type="text" value="{{user.username}}" name="username" class="form-control" placeholder="Usuario" required>
                        </div>
                        <div class="form-group p-2">
                            <input type="email" value="{{user.email}}" name="email" class="form-control" placeholder="Email" required>
                        </div>
                        <!-- Selección de rol -->
                        <div class="form-group p-2">
                            <input type="password" name="password" class="form-control" placeholder="Clave actual" required>
                        </div>                       
                        <div class="form-group p-2">
                            <input type="password" name="newPassword" class="form-control" placeholder="Nueva clave" required>
                        </div>
                        <div class="form-group p-2">
                            <input type="password" name="confirmPassword" class="form-control" placeholder="Repita la nueva clave" required>
                        </div>

                        <div class="form-group p-2 block">
                            <div class="d-flex gap-2">
                                <button class="btn btn-success w-100">
                                    Enviar
                                </button>
                                <button type="button" class="btn btn-warning w-100" onclick="window.history.back();">                               
                                    Cancelar
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>